<% if user == current_user %>
  <h2>マイページ</h2>
<% else %>
  <h2><%= user.last_name %><%= user.first_name %>さんのマイページ</h2>
<% end %>

<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
  <p class="col text-center"><%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "200x200", class: "user-img" %></p>

  <% if user == current_user %>
    <table class="table col text-center">
      <tbody>
        <tr>
          <th class="col text-center">基本情報</th>
          <td class="col text-center"> <%= link_to "編集する", edit_user_path(user), class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <th class="col text-center">わたしの病歴</th>
          <td class="col text-center"><%= link_to "覗いてみる", user_medical_histories_path(user), class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <th class="col text-center">わたしの健康管理</th>
          <td class="col text-center"><%= link_to "覗いてみる", user_health_cares_path(user), class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <th class="col text-center">かかりつけ医一覧</th>
          <td class="col text-center"><%= link_to "覗いてみる", families_user_path(user.id), class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1 col-sm-12">
  <% if user == current_user %>
    <h4>＜わたしの投稿一覧＞</h4>
  <% else %>
    <h4>＜<%= user.last_name %>さんの投稿一覧＞</h4>
  <% end %>
  <table class="table daily-table">
    <thead>
      <tr>
        <th class="text-center">投稿日</th>
        <th class="text-center">題名</th>
        <th class="text-center">ジャンル</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% daily_records.each do |daily_record| %>
        <tr>
          <td class="text-center"><%= daily_record.created_at.to_s(:datetime_jp) %></td>
          <td class="text-center">
            <%= link_to daily_record_path(daily_record) do %>
              <%= daily_record.theme %>
            <% end %>
          </td>
          <td class="text-center"><%= daily_record.genre %></td>
          <td class="text-center">
            <span class="fa fa-heart" aria-hidden="true" style="color: red;"></span>
            <%= daily_record.favorites.count %>
          </td>
          <td class="text-center">コメント<%= daily_record.comments.count %>件</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if user == current_user %>
    <div class="new-daily-records-link text-right">
      <%= link_to "新しき投稿する！", new_daily_record_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>