<div class="families-container">
  <div class="row">
    <% if current_user.present? %>
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <h2>かかりつけ医一覧</h2>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="families-info">
          <i class="fas fa-hospital-user"></i>
          <h4>医療機関のマイページで、かかりつけ医の登録ができます！<br>
          さっそく「医療機関一覧」ボタンから、いつものあの病院を探してみよう！</h4>
        </div>
      </div>
    <% else %>
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <h2><%= @user.last_name %><%= @user.first_name %>さんのかかりつけ医一覧</h2>
      </div>
    <% end %>

    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <% if @hospitals.present? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">医療機関名</th>
              <th class="text-center">電話番号</th>
              <th class="text-center">郵便番号</th>
              <th class="text-center">住所</th>
            </tr>
          </thead>
          <tbody>
            <% @hospitals.each do |hospital| %>
              <tr>
                <td class="text-center">
                  <%= link_to hospital_path(hospital) do %>
                    <%= hospital.name %>
                  <% end %>
                </td>
                <td class="text-center"><%= hospital.telphone_number %></td>
                <td class="text-center"><%= hospital.postal_code %></td>
                <td class="text-center"><%= hospital.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <h3>まだ登録されていません</h3>
      <% end %>
      <div class="hospital-link text-right">
        <%= link_to "医療機関一覧へ", hospitals_path, class: "btn btn-primary btn-lg" %>
        <% unless current_user.present? %>
          <%= link_to "患者マイページへ戻る", user_path(@user), class: "btn btn-warning btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>