<div class="families-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <h2>かかりつけ医一覧</h2>

      <% if @hospitals.present? %>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">医療機関名</th>
              <th class="text-center">電話番号</th>
              <th class="text-center">郵便番号</th>
              <th class="text-center">住所</th>
            </tr>
          </thead>
          <tbody>
            <% @hospitals.each do |hospital| %>
              <tr>
                <td class="text-center">
                  <%= link_to hospital_path(hospital) do %>
                    <%= hospital.name %>
                  <% end %>
                </td>
                <td class="text-center"><%= hospital.telphone_number %></td>
                <td class="text-center"><%= hospital.postal_code %></td>
                <td class="text-center"><%= hospital.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h5>まだ登録されていません</h5>
      <% end %>
      <div class="hospital-link text-right">
        <%= link_to "医療機関一覧へ", hospitals_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>