<div class="container">
  <div class="row">
    <h2>新規登録（医療関係者さま）</h2>

    <%= form_with model: @hospital, url: hospital_registration_path, local: true do |f| %>
      <%= render "hospitals/shared/error_messages", resource: @hospital %>

  　　<div class="hospital-input">
        <div class="hospital-input-form">
          <%= f.label :name, "医療機関名" %>
         <%= f.text_field :name %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :email, "メールアドレス" %>
         <%= f.email_field :email, type: "email", autocomplete: "email" %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
          <%= f.text_field :postal_code %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :telphone_number, "電話番号（ハイフンなし）" %>
          <%= f.text_field :telphone_number, type: "tel" %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :password, "パスワード（６文字以上）" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="hospital-input-form">
          <%= f.label :password_confirmation, "パスワード（確認用）" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="hospital-input-button">
        <p><%= f.submit "新規登録", class: "btn btn-primary" %></p>
      </div>
    <% end %>

    <div>
      <h2>既に登録済みの方</h2>
      <p><%= link_to "こちら", new_hospital_session_path %>　からログインしてください。</p>
    </div>
  </div>
</div>
