<% if current_hospital.id == hospital.id %>
  <h2>マイページ</h2>
<% else %>
  <h2>医療機関詳細</h2>
<% end %>

<div class="col-md-4 col-md-offset-4 col-xs-12">
  <table class="table col text-center">
    <thead>
      <tr>
        <th colspan="2" class="col text-center"><h3><b><%= hospital.name %></b></h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="col text-center">電話番号</th>
        <td class="col text-center"><%= hospital.telphone_number %></td>
      </tr>
      <tr>
        <th class="col text-center">郵便番号</th>
        <td class="col text-center"><%= hospital.postal_code %></td>
      </tr>
      <tr>
        <th class="col text-center">住所</th>
        <td class="col text-center"><%= hospital.address %></td>
      </tr>
      <% if current_hospital.id == hospital.id %>
        <tr>
          <th class="col text-center">登録情報</th>
          <td class="col text-center"><%= link_to "編集する", edit_hospital_path(hospital), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_hospital.id == hospital.id %>
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <h4><b>＜患者一覧＞</b></h4>
    <% if hospital.patients.present? %>
    <table class="table">
      <thead>
        <tr>
          <th class="col text-center">患者名</th>
          <th class="col text-center">電話番号</th>
          <th class="col text-center">郵便番号</th>
          <th class="col text-center">住所</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% hospital.patients.each do |patient| %>
          <tr>
            <td class="col text-center"><%= patient.last_name %></td>
            <td class="col text-center"><%= patient.telphone_number %></td>
            <td class="col text-center"><%= patient.postal_code %></td>
            <td class="col text-center"><%= patient.address %></td>
            <th class="col text-center">
              <%= link_to "患者ページ", user_path(patient), class: "btn btn-warning" %>
              <%= link_to "診療記録", user_medical_records_path(patient), class: "btn btn-success" %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <h4 class="col text-center">患者はいません</h4>
    <% end %>
  </div>
<% end %>