<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <h2>医療機関詳細</h2>
</div>

<div class="col-md-6 col-md-offset-3 col-xs-12">
  <table class="table col text-center">
    <thead>
      <tr>
        <th colspan="2" class="col text-center"><h3><b><%= hospital.name %></b></h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="col text-center">電話番号</th>
        <td class="col text-center"><%= hospital.telphone_number %></td>
      </tr>
      <tr>
        <th class="col text-center">郵便番号</th>
        <td class="col text-center"><%= hospital.postal_code %></td>
      </tr>
      <tr>
        <th class="col text-center">住所</th>
        <td class="col text-center"><%= hospital.address %></td>
      </tr>
    </tbody>
  </table>

  <div class="col-xs-12">
    <div class="hospital-select">
      <i class="fas fa-user-md"></i>
      <h3><b>かかりつけ医登録</b></h3>
      <h4>健康管理や日常の取り組みなど、</br>幅広く共有できます！</br>
      その他、医療機関の診療記録を確認でき、</br>
      チャットでの簡易連絡も！</br>
      <span class="attention">※かかりつけ医登録の医療機関同士では、</br>
      それぞれの診療記録が共有されることとなります。</span></h4>

      <% if current_user.families?(hospital) %>
        <div>
          <%= form_with model: hospital, url: medical_relationship_path(user_id: current_user.id, hospital_id: hospital.id), method: :delete, local: true do |f| %>
            <%= f.hidden_field :hospital_id, :value => hospital.id %>
            <%= f.submit "登録を外す", class: "btn btn-danger" %>
          <% end %>

          <h4>チャットはこちらから！</h4>
          <% if isRoom == true %>
      			<%= link_to "チャットのつづきへ", chat_path(roomId, hospital_id: hospital.id, user_id: current_user.id), class: "btn btn-warning" %>
      		<% else %>
      			<%= form_with(model:room, url: rooms_path, local: true) do |f| %>
    					<%= f.hidden_field :hospital_id, value: hospital.id %>
    					<%= f.hidden_field :user_id, value: current_user.id %>
      				<%= f.submit "チャットをはじめる", class: "btn btn-primary" %>
      			<% end %>
      		<% end %>
    		</div>

      <% else %>
        <%= form_with model: hospital, url: medical_relationships_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :hospital_id, :value => hospital.id %>
          <%= f.submit "登録する", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col text-center">
    <%= link_to "かかりつけ医一覧に戻る", families_user_path(current_user.id), class: "btn btn-success" %>
  </div>
</div>

