<h2>医療機関詳細</h2>

<div class="col-md-6 col-md-offset-3 col-xs-12">
  <table class="table col text-center">
    <thead>
      <tr>
        <th colspan="2" class="col text-center"><h3><b><%= hospital.name %></b></h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="col text-center">電話番号</th>
        <td class="col text-center"><%= hospital.telphone_number %></td>
      </tr>
      <tr>
        <th class="col text-center">郵便番号</th>
        <td class="col text-center"><%= hospital.postal_code %></td>
      </tr>
      <tr>
        <th class="col text-center">住所</th>
        <td class="col text-center"><%= hospital.address %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
  <div class="hospital-menu col text-center">
    <h3><b>MENU</b></h3>
    <div>
      <div><b>・かかりつけ医</b></div>
      <% if current_user.families?(hospital) %>
        <%= form_with model: hospital, url: medical_relationship_path(user_id: current_user.id, hospital_id: hospital.id), method: :delete, local: true do |f| %>
          <%= f.hidden_field :hospital_id, :value => hospital.id %>
          <%= f.submit "登録を外す", class: "btn btn-danger" %>
        <% end %>
      <% else %>
        <%= form_with model: hospital, url: medical_relationships_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :hospital_id, :value => hospital.id %>
          <%= f.submit "登録する", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>

    <% if current_user.families?(hospital) %>
      <div>
        <div><b>・チャット</b></div>
        <td>
          <% if isRoom == true %>
      			<div>
      			  <%= link_to "つづきへ", chat_path(roomId, hospital_id: hospital.id, user_id: current_user.id), class: "btn btn-warning" %>
      			</div>
      		<% else %>
      			<%= form_with(model:room, url: rooms_path, local: true) do |f| %>
    					<%= f.hidden_field :hospital_id, value: hospital.id %>
    					<%= f.hidden_field :user_id, value: current_user.id %>
      				<%= f.submit "はじめる", class: "btn btn-primary" %>
      			<% end %>
      		<% end %>
        </td>
      </div>
    <% end %>
  </div>

  <div class="col text-right">
    <%= link_to "かかりつけ医一覧に戻る", families_user_path(current_user.id), class: "btn btn-success" %>
  </div>
</div>
