<div class="top-container">
  <% if current_user.present? || current_hospital.present? %>
    <h4 class="top-login-message">すでにログインしています</h4>
  <% else %>
    <div class="top-image">
      <div class="background-black">
        <div class="top-content">
          <h3 class="top-text"><b>健康と医療を管理して、</br>毎日をもっと楽しく！</b></h3>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="user-top">
              <i class="fas fa-user"></i>
              <h4><b>個人利用者さま</b></h4>
              <div class="col text-center">
                <%= link_to "はじめまして", about_user_path, class: "btn btn-primary" %>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
                <%= link_to 'ゲストログイン（閲覧用）', home_user_guest_sign_in_path, method: :post, class: "btn btn-warning" %>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="hospital-top">
              <i class="fas fa-user-md"></i>
              <h4><b>医療関係者さま</b></h4>
              <div class="col text-center">
                <%= link_to "はじめまして", about_hospital_path, class: "btn btn-primary" %>
                <%= link_to "ログイン", new_hospital_session_path, class: "btn btn-success" %>
                <%= link_to 'ゲストログイン（閲覧用）', home_hospital_guest_sign_in_path, method: :post, class: "btn btn-warning" %>
              </div>
            </div>
          </div>
        </div>

        <div class="mouse">
          <h4><b>What's "Joy Health!"?</b></h4>
          <i class="fas fa-caret-square-down" id="can-button"></i>
          <div class="row" id="slide">
            <div class="what col-xs-8 col-xs-offset-2">
              <h3><b>できること基本２ヶ条</b></h3>
              <i class="fas fa-scroll"></i>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="can">
                    <h3>その１　投稿</h3>
                    <div class="can-content">
                      <i class="fas fa-user"></i>
                      <h5><b>＜個人利用者＞</b></h5>
                      <p>①日常記録 （食事、運動、その他）</p>
                      <p>②健康管理（体重、血圧、血糖値）</p>
                      <p>③病歴（現在治療中も含む）</p>
                    </div>
                    <div class="can-content">
                      <i class="fas fa-user-md"></i>
                      <h5><b>＜医療関係者＞</b></h5>
                      <p>診療記録</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="can">
                    <h3>その２　情報共有</h3>
                    <div class="can-content">
                      <i class="fas fa-user-friends"></i>
                      <h5><b>＜個人利用者同士＞</b></h5>
                      <p>日常記録のみ</p>
                    </div>
                    <div class="can-content">
                      <i class="fas fa-hospital-user"></i>
                      <h5><b>＜個人利用者と医療機関＞</b></h5>
                      <p>お互いの全ての投稿</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="can-finish">
                <span>個人は日々の健康状態をより手軽かつ正確に管理でき、</br>
                医療機関は正しく患者の状態を把握でき、より適切な医療が可能になります！</span>
                <h5>その他にも、できることが盛りだくさん！</br>
                さあ、あなたも「Joy Health!」で楽しい毎日をはじめてみよう！！</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


