<div class="chat-container">
  <div class="row">
    <div class="chats">
      <% if current_user.present? %>
        <h2><%= @hospital.name %>とのチャット</h2>
      <% elsif current_hospital.present? %>
        <h2><%= @user.last_name %><%= @user.first_name %>さんとのチャット</h2>
      <% end %>

      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="chat">
          <% if @chats.present? %>
            <table id="js-table-message" class="table-no-border">
              <%= render 'chats/message', chats: @chats %>
            </table>
          <% end %>
        </div>

        <% if current_user.present? %>　<!--個人利用者の場合-->
          <div class="post">
            <%= form_with(model: @chat, remote: true) do |f| %>
              <%= f.text_field :message, id: "message" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.button :type => "submit", class: "btn btn-warning" do %>
                <i class="far fa-paper-plane"></i>
              <% end %>
            <% end %>
          </div>
        <% elsif current_hospital.present? %>　<!--医療関係者の場合-->
          <div class="post">
            <%= form_with(model: @chat, remote: true) do |f| %>
              <%= f.text_field :message, id: "message" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.hidden_field :hospital_id, value: current_hospital.id %>
              <%= f.button :type => "submit", class: "btn btn-warning" do %>
                <i class="far fa-paper-plane"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
