<% daily_records.each do |daily_record| %>
  <p><%= daily_record.created_at.to_s(:datetime_jp) %></p>
  <p><%= attachment_image_tag daily_record, :daily_image, format: "jpeg", fallback: "no_image.jpg", size: "250x200" %></p>
  <p>
    <%= link_to daily_record_path(daily_record) do %>
      <%= daily_record.theme %>
    <% end %>
    <span>＜<%= daily_record.genre %>＞</span>
  </p>
  <p>
    <%= link_to user_path(daily_record.user) do %>
      <%= daily_record.user.last_name %>
    <% end %>
    <span>コメント<%= daily_record.comments.count %>件</span>
    <div>
      <span class="fa fa-heart" aria-hidden="true" style="color: red;"></span>
      <%= daily_record.favorites.count %>
    </div>
  </p>
<% end %>