<div class="daily-record-index-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2>みんなの投稿一覧</h2>
    </div>

    <div class="genre-search col-lg-4 col-lg-offset-1 col-md-4 col-xs-12">
      <table class="table table-bordered">
        <thead><th class="text-center">ジャンル検索</th></thead>
        <tbody>
          <tr><th class="text-center"><%= link_to "＜食事＞", daily_records_search_path(:genre => 0), class: "genre-item" %></th></tr>
          <tr><th class="text-center"><%= link_to "＜運動＞", daily_records_search_path(:genre => 1), class: "genre-item" %></th></tr>
          <tr><th class="text-center"><%= link_to "＜その他＞", daily_records_search_path(:genre => 2), class: "genre-item" %></th></tr>
         </tbody>
      </table>
    </div>

    <div class="all-index col-lg-6 col-md-8 col-xs-12">
      <%= render "index", daily_records: @daily_records %>
    </div>

    <div class="col-sm-2">
    </div>
  </div>
</div>

<%= paginate @daily_records %>