<div class="session-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2 class="col text-center">ログイン<br>（医療関係者さま）</h2>

      <%= form_with model: @hospital, url: hospital_session_path, local: true do |f| %>
        <%= flash[:alert]%>

        <div class="hospital-login-input">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.email_field :email, autofocus: true, class: "form-control" %><br>
        </div>

        <div class="hospital-login-input">
          <%= f.label :password, "パスワード" %><br>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %><br>
        </div>

        <div class="hospital-login-button col text-center">
          <%= f.submit "ログイン", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
