<div class="container">
  <div class="row">
    <h2>ログイン（医療関係者さま）</h2>

    <%= form_with model: @hospital, url: hospital_session_path, local: true do |f| %>
      <%= flash[:alert]%>

      <div class="hospital-login-input">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="hospital-login-input">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="hospital-login-button"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
    <% end %>

  <div class="not-registration">
    <div>
      <h4>登録がお済みでない方</h4>
      <p><%= link_to "こちら", new_hospital_registration_path %> から新規登録を行ってください。</p>
    </div>
  </div>
</div>
