<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <h2><%= user.last_name %><%= user.first_name %>さんの病歴</h2>
</div>

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <% if medical_histories.present? %>
    <table style="table-layout:fixed;width:100%;" class="table">
      <tbody>
        <% medical_histories.each do |medical_history| %>
          <tr>
            <td rowspan="2" class="text-center align-center" style="vertical-align : middle;text-align:center;"><%= medical_history.disease %></td>
            <td class="text-center"><%= medical_history.started_on.strftime("%Y年%m月%d日") %></br>
            <% if medical_history.finished_on.present? %>
              〜<%= medical_history.finished_on.strftime("%Y年%m月%d日") %></td>
            <% else %>
              〜現在</td>
            <% end %>
            <td class="text-center"><%= medical_history.hospital %></td>
          </tr>
          <tr>
            <td colspan="2" style="word-wrap:break-word;" class="text-left">治療内容：<%= medical_history.treatment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>特にありません</h3>
  <% end %>

  <div class="hospital-medical-history-link text-right">
    <%= link_to "CSV出力", user_medical_histories_path(format: :csv), class: "btn btn-success btn-lg" %>
    <%= link_to "患者マイページへ戻る", user_path(user), class: "btn btn-warning btn-lg" %>
  </div>
</div>