<h2>わたしの病歴</h2>
  <div class="col-md-12">
    <% if medical_histories.present? %>
      <table style="table-layout:fixed;width:100%;" class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">傷病名</th>
            <th class="text-center col-md-2">治療期間</th>
            <th class="text-center col-md-4">内容</th>
            <th class="text-center col-md-2">医療機関</th>
            <th class="text-center col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% medical_histories.each do |medical_history| %>
            <tr>
              <td class="text-center col-md-2"><%= medical_history.disease %></td>
              <td class="text-center col-md-2"><%= medical_history.started_on.strftime("%Y年%m月%d日") %></br>
              <% if medical_history.finished_on.present? %>
                〜<%= medical_history.finished_on.strftime("%Y年%m月%d日") %></td>
              <% else %>
                〜現在</td>
              <% end %>
              <td style="word-wrap:break-word;" class="text-center col-md-4"><%= medical_history.treatment %></td>
              <td class="text-center col-md-2"><%= medical_history.hospital %></td>
              <td class="text-center col-md-2"><%= link_to "編集", edit_user_medical_history_path(user_id: medical_history.user_id, id: medical_history.id), class: "btn btn-warning" %>
              <%= link_to "削除", user_medical_history_path(user_id: medical_history.user_id, id: medical_history.id),
                  method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h5>特にありません</h5>
    <% end %>

    <div class="new-medical-history-link text-right">
      <%= link_to "新しい歴史をつくる", new_user_medical_history_path(current_user), class: "btn btn-primary btn-lg" %>
      <%= link_to "CSV出力", user_medical_histories_path(format: :csv), class: "btn btn-success btn-lg" %>
    </div>
  </div>