<div class="form-group">
  <%= f.label :doctor, "医師名" %></br>
  <%= f.text_field :doctor %>
</div>

<div class="form-group">
  <%= f.label :disease, "傷病名" %></br>
  <%= f.text_field :disease %>
</div>

<div class="form-group">
  <%= f.label :treatment, "診察内容" %></br>
  <%= f.text_area :treatment %>
</div>

<% if local_assigns[:edit_flag].present? %>
  <p class="text-right"><%= f.submit "変更を保存", class: "btn btn-primary" %></p>
<% else %>
  <p class="text-right"><%= f.submit "新規登録", class: "btn btn-primary" %></p>
<% end %>