<div class="medical-records-index-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2>診療記録</h2>
      <h3 class="patient-name">＜患者名＞<%= @user.last_name %><%= @user.first_name %>さん</h3>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="medical-record-info">
        <i class="fas fa-notes-medical"></i>
        <h4>かかりつけ医登録の医療機関が今まで作成した診療記録を確認できます！<br>
        新しく診療記録が作成されると、メールによる通知も！</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <% if current_hospital.present? %>
      <div class="col text-center">
        <%= link_to "新規作成はこちらから！", new_user_medical_record_path(@user), class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

    <div class="calender">
      <div class="search-title">
        <h4><b>カレンダーから探す</b></h4>
      </div>
      <%= month_calendar events: @medical_records do |date, medical_records| %>
        <%= date.day %>

        <% medical_records.each do |medical_record| %>
          <div>
            <%= link_to medical_record.hospital.name, user_medical_record_path(user_id: @user.id, id: medical_record.id) %>
          </div>
        <% end %>
      <% end %>
    </div>

      <div class="search-title">
        <h4><b>一覧から探す</b></h4>
      </div>
      <% if @medical_records.present? %>
        <div class="hospital-index col-md-10 col-md-offset-1 col-sm-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">医療機関名</th>
                  <th class="text-center">診察日</th>
                  <th class="text-center">傷病名</th>
                  <th class="text-center">担当医師名</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @medical_records.each do |medical_record| %>
                  <tr>
                    <td class="text-center"><%= medical_record.hospital.name %></td>
                    <td class="text-center"><%= medical_record.start_time.strftime("%Y年%m月%d日") %></td>
                    <td class="text-center"><%= medical_record.disease %></td>
                    <td class="text-center"><%= medical_record.doctor %></td>
                    <td class="text-center"><%= link_to "詳細", user_medical_record_path(user_id: @user.id, id: medical_record.id), class: "btn btn-success" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% else %>
        <h4>まだ診療記録はありません</h4>
      <% end %>
  </div>
</div>

<%= paginate @medical_records %>