<div class="container">
  <div class="row">
    <h2>診療記録一覧</h2>
    <h4>＜患者名＞<%= @user.last_name %><%= @user.first_name %>さん</h4>
      <div class="hospital-index">
        <table class="table">
          <thead>
            <tr>
              <th>診察日</th>
              <th>傷病名</th>
              <th>担当医師名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @medical_records.each do |medical_record| %>
              <tr>
                <td><%= medical_record.examined_on.strftime("%Y年%m月%d日") %></td>
                <td><%= medical_record.disease %></td>
                <td><%= medical_record.doctor %></td>
                <td><%= link_to "詳細", user_medical_record_path(user_id: @user.id, id: medical_record.id), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "新規作成", new_user_medical_record_path(@user), class: "btn btn-primary" %>
      </div>
  </div>
</div>