<div class="medical-records-show-container">
  <div class="row">
    <h2>診療記録詳細</h2>
    <h3>＜患者名＞<%= @user.last_name %><%= @user.first_name %>さん</h3>
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <table class="table">
        <tbody>
          <tr>
            <th class="text-center col-xs-4">診察日</th>
            <td class="text-center col-xs-8"><%= @medical_record.start_time.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th class="text-center">担当医師</th>
            <td class="text-center"><%= @medical_record.doctor %></td>
          </tr>
          <tr>
            <th class="text-center">傷病名</th>
            <td class="text-center"><%= @medical_record.disease %></td>
          </tr>
          <tr>
            <th class="text-center">診察内容</th>
            <td class="text-center"><%= @medical_record.treatment %></td>
          </tr>
        </tbody>
      </table>

      <div class="col text-center">
        <% if @medical_record.hospital == current_hospital %>
          <%= link_to "編集", edit_user_medical_record_path(@user, @medical_record), class: "btn btn-warning" %>
          <%= link_to "削除", user_medical_record_path(@user, @medical_record), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
        <% end %>
        <%= link_to "一覧へ戻る", user_medical_records_path(@user), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
