<% if user_signed_in? %>
  <nav class="navbar header-nav navbar-fixed-top">
    <div><span class="navbar-brand">Joy Health!</span></br>
      <div class="nav-user">for 個人利用者さま</div>
    </div>
    <div id="sp-menu">
      <h4>ようこそ！</br><%= current_user.last_name %>さん！</h4>
      <ul>
        <li><%= link_to "マイページ", user_path(current_user), class: "sidebar-item" %></li>
        <li><%= link_to "みんなの投稿一覧", daily_records_path, class: "sidebar-item" %></li>
        <li><%= link_to "診療記録一覧", user_medical_records_path(current_user), class: "sidebar-item" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sidebar-item" %></li>
      </ul>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </nav>

<% elsif hospital_signed_in? %>
  <nav class="navbar navbar-fixed-top" id="header-medical">
    <div><span class="navbar-brand">Joy Health!</span></br>
      <div class="nav-user">for 医療関係者さま</div>
    </div>
    <div id="sp-menu">
      <h4>ようこそ！</br><%= current_hospital.name %>さん！</h4>
      <ul>
        <li><%= link_to "マイページ", hospital_path(current_hospital), class: "sidebar-item" %></li>
        <li><%= link_to "ログアウト", destroy_hospital_session_path, method: :delete, class: "sidebar-item" %></li>
      </ul>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </nav>

<% else %>
  <nav class="navbar header-nav navbar-fixed-top">
    <div><span class="navbar-brand">Joy Health!</span></br>
      <div class="nav-user">for 皆さま</div>
    </div>
    <div id="sp-menu">
      <h4>ようこそ！</br>皆さま！</h4>
      <ul>
        <li><%= link_to "トップ", root_path, class: "sidebar-item" %></li>
        <li><%= link_to "ログイン for 個人利用者", new_user_session_path, class: "sidebar-item" %></li>
        <li><%= link_to "はじめまして for 個人利用者", about_user_path, class: "sidebar-item" %></li>
        <li><%= link_to "ログイン for 医療関係者", new_hospital_session_path, class: "sidebar-item" %></li>
        <li><%= link_to "はじめまして for 医療関係者", about_hospital_path, class: "sidebar-item" %></li>
      </ul>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </nav>
<% end %>