<header class="navbar navbar-dark bg-success">
  <div class="container">
    <nav class='nav navbar-nav navbar-left'>
      <li><h3><%= link_to "Joy Health!", root_path %></h3></li>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><b>ようこそ！<%= current_user.last_name %>さん！</b></li>
          <li>
            <%= link_to user_path(current_user) do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% elsif hospital_signed_in? %>
          <li><b>ようこそ！<%= current_hospital.name %>さん！</b></li>
          <li>
            <%= link_to hospital_path(current_hospital) do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_hospital_session_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              トップ
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              ログイン（個人）
            <% end %>
          </li>
          <li>
            <%= link_to new_hospital_session_path do %>
              ログイン（医療関係者）
            <% end %>
          </li>
          <li>
            <%= link_to about_user_path do %>
              はじめまして（個人）
            <% end %>
          </li>
          <li>
            <%= link_to about_hospital_path do %>
              はじめまして（医療関係者）
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>